div.pullDown
{
    font-family: Raleway;
    font-size: 1vw;
    margin: 0 auto;
	padding: 1.5em 3em;
	text-align: center;
}

.index
{
    font-family: Raleway;
    margin: 0 auto;
    text-align: center;
}

input:focus{
    background-color: antiquewhite;
}


textarea:focus{
    background-color: antiquewhite;
}

#add
{
    border:none;
    background: #020107;
    color:#FFF;
    font-family: Raleway;
    padding: 1.5%;
    font-size: 1em;
    outline: none;   
    border-radius: 25px;
    text-decoration:none ;
}

#sign{
	border:none;
    background: #060608;
    color:#FFF;
    font-family: Raleway;
    padding: 3% 4%;
    font-size: 1em;
    outline: none;   
    border-radius: 25px;
    text-decoration:none ;
}

#sign:hover{
    outline: none;
    background-color: rgba(12, 10, 14, 0.5);
    transition: all 0.3s;
    text-decoration: none;
}

#nav
{
    color: #FFF;
    text-decoration: none;
    font: 1.4vw Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.blue
{
    background:#010103;
}
div.pullDown a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullDown a:hover:before
{
    height: 100%;
}

body{
    background: url(https://miro.medium.com/max/2700/1*QS59aHuIEgJoIogixOJ32w.jpeg);

}

div.thumbnail{
    background-color:  rgba(201, 199, 212, 0.7);
    border: none;

}

#paragraph{
    text-decoration: underline;
    padding-bottom: 3%;
    font-family:'Open Sans Condensed', sans-serif;
    color: #FFF;
    padding-top: 3% ;
    font-size: 2.3vw;
}

#add:hover{
    outline: none;
    background-color: rgba(21, 19, 31, 0.5);
    transition: all 0.3s;
    text-decoration: none;
}

div.form-control:focus{
    border:none;
}
#n{
    padding-bottom: 25px;
	color: white;
}

#n1{
    padding-bottom: 15px;
    text-align: center;
	color: white;
}

#form{
	margin-top: 12%;
	text-align: center;
}

#sign1{
	color: antiquewhite;
}

hr{
	height:2px;
	margin:30px 0 30px 0;
	background:rgba(255,255,255,.2);
}

.form-control{
	border:none;
	padding:3% 3%;
	border-radius:25px;
	background:rgba(255,255,255,.3);
}

#img{
    height:250px;
    width:100%;
    overflow: hidden;
}

div.well{
    background: rgb(255,255,255,0.7);
}

div.show{
    margin-top: 3%;
}

.img-responsive{
    width: 100%;
}

.caption-full{
    padding:9px;
}

.wrap{
	width:100%;
	margin:auto;
	max-width:480px;
	min-height:670px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(18, 22, 27, 0.7);
}

.wrap1{
    width:100%;
    padding: 1% 5% 10% 5%;
	margin:auto;
	max-width:70%;
	min-height:90%;
    position:relative;
    background:rgba(18, 22, 27, 0.7);
}
#del{
    border: none; 
    background-color: transparent;
}

#del:focus{
    outline: none;
}

div.alert.alert-danger{
    margin-top: 1.5%;
}

div.alert.alert-success{
    margin-top: 1.5%;
    margin-bottom:-1%; 
}
